.input-group {
    width: 90%;
    /* Puedes ajustar el ancho según lo necesites */
}

.content-input-btn {
    display: flex;
    justify-content: center;

}

table {
    width: 100%;
}
.header-table{
    position: sticky;
    top: 85px;
    /* background-color: lightsteelblue !important; */
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 95%;
  }
  
  td, th {
    width: 10%;
  }
  
  th{
    background-color: lightsteelblue;
    font-weight: bold;
    font-size: 14px;
    color: black;
  }
  
  .barra-busqueda{
    float: right;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-right: 1%;
    height: 60%;
  }
  
  .nav-busqueda{
    display: flex;
    flex-direction: row;
    width: 100%;
    float: right;
    background-color: white !important;
  }
  
  .botones{
    margin: 0 auto;
    z-index: -1;
  }
  
  
  table tr:nth-child(odd) {
    background: #fff;
  }
  table tr:nth-child(even) {
    background: lightsteelblue;
  }
  
  .mat-row{
    height: 6px;
  }
  
  .mat-button{
    height: 6px;
    padding: 0;
  }
  
  .mat-button:hover{
    background: red;
  }
  
  td{
    height: 6px;
    min-height: min-content;
  }
  
  .mat-icon{
    line-height: 1.0rem;
  }
  
  .id{
    width: 5%;
  }

  .email{
    width: 25%;
  }
  .name{
    width: 25%;
  }
  .createdAt{
    width: 5%;

  }
  .acciones{
    width: 20%;
  }
  
  @media (max-width: 1150px){

    .email{
      width: 10%;
    }
  
    .name{
      width: 15%;
    }
  
    .acciones{
      width: 40%;
    }
  }
  
  