<div class="container-fluid p-0">
    <!-- Header -->
    <header class="bg-primary text-white text-center py-5">
        <h1 class="display-4">{{examTitle}}</h1>
    </header>

    <!-- Main Content -->
    <main class="container my-5">
        <section class="row">
            <div class="col-lg-8 mx-auto">
                <p class="lead text-center mb-5">{{examDescription}}</p>

                <h2 class="text-center mb-4">Kirby Mayer Damaso Chavez</h2>
                <h4 class="text-center mb-1">escripción del Proyecto</h4>
                <p class="lead text-center mb-2">
                    Crear una aplicación de gestión de pedidos para un sistema de comercio electrónico. La
                    aplicación debe permitir crear, leer, actualizar y eliminar pedidos, así como listar todos los
                    pedidos y obtener detalles de un pedido específico. Un pedido tiene un cliente, una lista de
                    productos y un total. Los productos y clientes deben almacenarse en bases de datos
                    relacionales, mientras que los pedidos deben almacenarse en una base de datos no
                    relacional.
                </p>


            </div>
        </section>
    </main>
</div>